#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: row;
}
.frame__block {
  padding: 1rem;
  width: 50%;
}

.frame__block--left{
  border-right: 1px solid black;
}